- @equipment_categories.each do |cat|
  %label.checkbox
    - checked = @company.equipment_online_onlineable_ids.include?(cat.id)
    = check_box :company, :equipment_online_onlineable_ids, {checked: checked, multiple: true, include_hidden: false, class: "check_boxes optional"}, cat.id
    = cat.name
