- content_for :title, "Step 3: Branch Locations"
-#- content_for :description, ""
-#- content_for :keywords, ""

.content
  .row-fluid
    .span4
      %h1.heading REGISTRATION

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-inverse 2
          %li
            %span.badge 3
          %li
            %span.badge 4
          %li
            %span.badge 5
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12
      %h4 BRANCH LOCATION (ONLINE ONLY)
      %p Print for 
        %strong 
          %em Regional Directories
      = simple_form_for(@company, url: wizard_path, :method => :put, :html => {:class => 'form-horizontal' }) do |f|
        -#= f.simple_fields_for :branch do |builder|
        -#  = render 'branch_fields', f: builder
        = link_to_add_fields "Add branch", f, :branches


        .form-actions
          %button.btn.btn-primary.pull-right
            Continue
            %i.icon-arrow-right
