.content
  .row-fluid
    .span4
      %h1.heading REGISTRATION UPGRADE

    .span8
      .span7.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-info 3
          %li
            %span.badge.badge-info 4
          %li
            %span.badge.badge-info 5
          %li
            %span.badge.badge-inverse 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  = simple_form_for(@company, url: wizard_path, method: :put, :html => {:class => 'form-horizontal' }) do |f|
    .row-fluid
      .span6{style: 'margin-bottom: 40px;'}
        %h4 CATEGORY LOGO SELECTION (PRINT)
        %p Company Logo Are $75
        = f.association :equipment_printables, collection: @equipment_categories, label: false, :input_html => {class: 'searchable'}

      .span6
        .category-logo-selection-cost
          %strong
            Total Cost

    .row-fluid
      .span6{style: 'margin-bottom: 40px;'}
        %h4 CATEGORY SPONSORSHIP (ONLINE)
        %p $400

      .span6
        .category-sponsorship-cost
          %strong
            Total Cost

    .row-fluid
      .span12
        .form-actions
          %button.btn.btn-primary.pull-right
            Continue
            %i.icon-arrow-right
