.content
  .row-fluid
    .span4
      %h1 Welcome

    .span8
      .span6.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-inverse 1
          %li
            %span.badge 2
          %li
            %span.badge 3
          %li
            %span.badge 4
          %li
            %span.badge 5
          %li
            %span.badge 6
          %li
            %span.badge CONFIRM
      .span2.pull-right
        %h3.pull-right STEP
  .row-fluid
    .span12
      %h4 WHAT IS THE METALS DIRECTORY?
      %p
        The Metals Directory is your year long go-to guide--a resource that uses Modern Metals and FFJournal magazines' combined circulation of service centers,
        fabricators and OEMs/end users. Published in June, The Metals Directory is distributed at major trade shows and meetings throughout the year. In addition, we update the online
        version continuously to provide up-to-the-minute information.
      -#= link_to "CONTINUE WITH FREE REGISTRATION", '', class: 'btn'
  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h4 WHY STOP THERE?
      %p
        We offer many ways to enhance your company's presence in the print version of The Metals Directory
        as well as the website's searchalbe database. Before you settle on a free, basic listing, evaluate your
        upgrade options.
      = link_to "REGISTER", next_wizard_path, class: 'btn btn-primary'
  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h4 ALREADY IN THE METALS DIRECTORY?
      %p
        Type in the name of your company to see if a registration already exists.
      %p
        = text_field_tag :search, params[:search]
        = submit_tag "Search", name: nil, class: 'btn'
