.content
  .row-fluid
    .span4
      %h1 REGISTRATION

    .span8
      .span6.pull-right
        %ul.inline.steps
          %li
            %span.badge.badge-info 1
          %li
            %span.badge.badge-info 2
          %li
            %span.badge.badge-info 3
          %li
            %span.badge.badge-info 4
          %li
            %span.badge.badge-info 5
          %li
            %span.badge.badge-info 6
          %li
            %span.badge.badge-inverse CONFIRM
      .span2.pull-right
        %h3.pull-right STEP

  .row-fluid
    .span12{style: 'margin-bottom: 40px;'}
      %h1 Thank you!
      %h3 You have now completed registration for the 2013-2014 issue of The Metals Directory.
      %p Your online listing...
