%h1 Orders


%table.table.table-hover
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_admin_order_path(order)
        %td= link_to 'Destroy', admin_order_path(order), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br