= image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
%h3.act-now
  %span.act-now-hightlight
    Act Now!
  The Deadline to include listings in the print edition is
  %span.act-now-hightlight
    May 30th, 2014
