.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          %h3.act-now
            %span.act-now-hightlight
              Act Now!
            The Deadline to include listins in the print edition is
            %span.act-now-hightlight
              May 30th, 2014
        .span10
          .div{style: 'background: white; margin: 10px; padding: 20px; min-height: 400px;'}
            %h1.heading ABOUT THE METALS DIRECTORY
            %p
              %strong The Metals Directory
              is a valuable year-round resource. It's distributed to the
              powerful combined circulations of Modern Metals and FFJournal, which include
              service centers, fabricators and end-users. This user-friendly guide will reach a
              variety of key decision makers in every segment of metalworking—corporate officials, plant operations, engineers and purchasing agents.
            %p
              %strong The Metals Directory
              is published annually in June, both in print and online,
              and replaces ModernMetals' and FFJournal's June issue.
            %p
              %strong The Metals Directory
              will encompass 800-plus product category listings organized under tab pages into the sections of Equipment For Sale, Materials and Services.
            %p
              The Regional Metals Directories are a unique way for regional metal service centers and their branch locations to reach their target markets
              by using Modern Metals and FFJournal magazines’ combined circulation of fabricators, OEMs/end users and metal service centers. Four regional
              editions will be published in print annually. The Regional Metals Directories will encompass product category listings organized under tab pages
              into the sections of Materials and Services.
