.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          %h3.act-now
            %span.act-now-hightlight
              Act Now!
            The Deadline to include listins in the print edition is
            %span.act-now-hightlight
              May 30th, 2014
        .span10
          .div{style: 'background: white; margin: 10px; padding: 20px; min-height: 400px;'}
            %h1 Contact The Metals Directory
            %p
              CONTACT US

              The Metals Directory®
              Trend Publishing, Inc.
              625 N. Michigan Ave. Suite 1100
              Chicago, IL 60611
              Tel: 312/654-2300
              Fax: 312/654-2323
              Michael D'Alexander, VP/Publisher

              For a copy of The Metals Directory, please contact us at 312-654-2325.
              The cost is $25 per issue plus shipping and handling.

              Editorial Contacts

              MICHEAL D’ALEXANDER – VP/Publisher
              312/654-2317
              mdalexander`@modernmetals.com

              Sales Contacts
              To find out more about The Metals Directory, click on the e-mail address of the sales person representing your state or providence.

              MICHAEL D'ALEXANDER – VP/Publisher
              AL, LA, MS
              312/654-2309
              mdalexander@modernmetals.com

              JIM D'ALEXANDER - COO/VP eMedia
              FL, GA, IA, MN, Western NY, NC, PA, SC, SD, TN, TX
              312/654-2313
              jdalexander@modernmetals.com

              BILL D'ALEXANDER - VP/Regional Sales Manager
              CT, DE, KY, MA, MD, ME, MO, NH, NJ,  Eastern NY, OH, RI, VA, VT, WV
              203/438-4174
              bdalexander@modernmetals.com

              BOB D'ALEXANDER - VP/Regional Sales Manager
              IL, IN, KS, MI, Kansas City, MO, NE, WI, Canada
              616/942-0797
               HYPERLINK "mailto:rdalexander@modernmetals.com" rdalexander@modernmetals.com

              LEE KULBARSH - Regional Sales Manager
              AK, AR, AR, CA, CO, HI, ID, MT, NV, OK, NM, ND, OR, UT, WA, WY, Western Canada
              760/720-0333
              lkulbarsh@modernmetals.com


              TRACI FONVILLE - International Sales/Classified Ads & Logo Sales
              312/654-2325
              tfon@modernmetals.com

              Production

              CARLOTTA LACY - VP Production
              312/654-2318
              carlotta@modernmetals.com

