.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = image_tag('the-metals-directory-magazine.png', class: 'the-metals-directory-magazine')
          %h3.act-now
            %span.act-now-hightlight
              Act Now!
            The Deadline to include listins in the print edition is
            %span.act-now-hightlight
              May 30th, 2014
        .span10
          .div{style: 'background: white; margin: 10px; padding: 20px; min-height: 400px;'}
            %h1.heading WELCOME
            .row-fluid
              .span12
                %h4 WHAT IS THE METALS DIRECTORY?
                %p
                  The Metals Directory is your year long go-to guide--a resource that uses Modern Metals and FFJournal magazines'
                  combined circulation of service centers, fabricators and OEMs/end users. Published in June, The Metals Directory
                  is distributed at major trade shows and meetings throughout the year. Update your listing as often as you want
                  to take advantage of our newest product categories. For Metal Service Center registrants, your information will
                  also be included in our printed Regional Metals Directories.
                -#= link_to "CONTINUE WITH FREE REGISTRATION", '', class: 'btn'
            .row-fluid
              .span12{style: 'margin-bottom: 40px;'}
                %h4 UPGRADE YOUR LISTING
                %p
                  We offer many ways to enhance your company's presence in the print version of The Metals Directory
                  as well as the website's searchable database. Before you settle on a free, basic listing, evaluate your
                  upgrade options.
                  = link_to "REGISTER", new_user_registration_path, class: 'btn btn-primary'
            .row-fluid
              .span12{style: 'margin-bottom: 40px;'}
                %h4 ALREADY IN THE METALS DIRECTORY?
                %p
                  Type in the name of your company to see if a registration already exists.
                %p Keyword search:
                .row-fluid
                  .span3
                    = text_field_tag :term
                  .span9{style: 'padding-left: 45px;'}
                    = link_to "Search <i class='icon-white icon-circle-arrow-right'></i>".html_safe, "javascript:;", class: "btn btn-primary search-keyword"
