.container{style: 'background: #CCC; border-top: 1px solid #333; border-bottom: 1px solid #333;'}
  .row-fluid
    .span12
      #homepage.row-fluid
        .span2
          = render 'shared/directory_deadline'
        .span10
          .div{style: 'background: white; margin: 10px; padding: 20px; min-height: 400px;'}
            %h1.heading COMPANIES
            %table.table.table-hover
              %thead
                %tr
                  %th Name
                  %th Location
                  %th
              %tbody
                - @companies.each do |company|
                  %tr
                    %td= company.company_name
                    %td= company.address
                    %td= link_to "edit", edit_company_path(company) if company.user == current_user
            .span12=paginate @companies