body
  background: url(../assets/bg.jpg) repeat-x #000

footer
  a
    color: white
    &:hover
      color: white

.content
  margin: 20px

h1.heading
  color: #3dc6f4
  text-transform: uppercase
  padding: 0
  font-style: italic
  font-size: 33px

.navbar
  margin-bottom: 0
  ul.inline > li
    padding: 0

ol.inline > li
  padding: 0

.main-nav
  position: relative
  z-index: 1
  maring: 0
  font-weight: 800
  ul
    margin: 0 !important
    padding: 0 !important
  a
    border-left: 15px solid #a3a3a3
    background: black
    margin: 0
    padding: 15px 102px 12px 10px
    &:hover
      border-left: 15px solid #4fa4d0
      background: #fff
      color: #4fa4d0
      text-decoration: none
  li.active a
    border-left: 15px solid #4fa4d0
    background: #fff
    color: #4fa4d0
    text-decoration: none
  a
    color: white

#homepage
  .the-metals-directory-magazine
    padding: 20px 0 0 10px

  h1.search-inside
    color: #3dc6f4
    text-transform: uppercase
    padding: 15px 0 0 11px
    font-style: italic
    font-size: 33px

  .info
    padding: 0 10px 10px
    font-size: 20px
    line-height: 25px
    color: #666

  .new-to-the-metals-directory, .the-metals-directory-login, .devise-links
    padding: 10px
    margin: 0

  h2.sign-up
    color: #d71921
    font-size: 18px
    line-height: 0px
    text-transform: uppercase
    font-style: italic

  .sign-up-box
    background: #b50204
    a
      color: white
      padding: 10px 5px
      text-align: center
      font-size: 22px
      line-height: 24px
      padding: 0px 0px 0px 0px

  .sign-up-box-button
    margin: 0 0 15 0px
    padding: 0px
    background: #d71921
    color: #fff
    font-size: 20px
    line-height: 25px
    font-weight: bold
    text-transform: uppercase

  .login-box
    background: #000
    color: white
    padding-left: 10px

  .login-box-heading
    color: #fff
    margin: 5px

  .login-submit-button
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3dc6f4), color-stop(1, #3dc6f4)) !important
    background: -moz-linear-gradient(center top, #3dc6f4 5%, #3dc6f4 100%) !important
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dc6f4', endColorstr='#3dc6f4') !important
    background-color: #3dc6f4 !important
    -webkit-border-top-left-radius: 0px !important
    -moz-border-radius-topleft: 0px !important
    border-top-left-radius: 0px !important
    -webkit-border-top-right-radius: 0px !important
    -moz-border-radius-topright: 0px !important
    border-top-right-radius: 0px !important
    -webkit-border-bottom-right-radius: 0px !important
    -moz-border-radius-bottomright: 0px !important
    border-bottom-right-radius: 0px !important
    -webkit-border-bottom-left-radius: 0px !important
    -moz-border-radius-bottomleft: 0px !important
    border-bottom-left-radius: 0px !important
    border-bottom-left-radius: 0px !important
    text-indent: 0px
    display: inline-block
    color: #ffffff
    font-family: Arial
    font-size: 20px
    font-weight: bold
    font-style: normal
    line-height: 100px
    text-decoration: none
    text-align: center
    margin: 4px 0 0 -20px
    &:hover
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3dc6f4), color-stop(1, #3dc6f4))
      background: -moz-linear-gradient(center top, #3dc6f4 5%, #3dc6f4 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dc6f4', endColorstr='#3dc6f4')
      background-color: #3dc6f4
    &:active
      position: relative
      top: 1px

  .login-submit-box-button, .login-submit-box-form, .login-submit-box
    margin: -2px 0 -10px 0px
    padding: 0

  h3.act-now
    padding: 0px 0px 0px 15px
    font-size: 15px
    line-height: 20px
    text-transform: uppercase

  .act-now-hightlight
    color: #cc0000

.registration_steps .steps
  padding: 19px 0 0 10px

.ms-container .ms-selection
  margin-top: 41px

.no-lmar
  margin-left: 0 !important
.left
  margin-left: 10px
